/* --------- Global style */

body {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    background-color: white;
    font-family: "Raleway", sans-serif;
    color: #445361;
    text-align: center;
    align-content: center;

    }


/* --------- Heading */

.heading {
    text-align: center;
    font-size: 2.5rem;
}

h2 {
    font-size: 1rem;
    color: #404244;
    margin-top: 1.5rem;
}

.logo {
    width: 55%;
    margin: auto;
}

/* --------- Game layout */

.timer-area {
    text-align: right;
    width: 85%;
    max-width: 830px;
    margin: auto;
    font-size: 1.5rem;
    padding: 1rem;
}


.game-area {
    display: flex;
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;
    gap: none;
    background-color: #ffffff;
    box-sizing: border-box;
    border-radius: 2em;
    border: #445361 solid 0.2rem;
    width: 85%;
    height: 65vh;
    max-height: 450px;
    max-width: 830px;
    margin-left: auto;
    margin-right: auto;
    padding: 2rem;
}

.characters {
    width: 3rem;
    height: 4rem;
    margin: 0.5rem 0.5rem;
    font-size: 2rem;
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(56, 56, 56);
    border-bottom: 0.15rem solid rgb(148, 148, 148);
    border-radius: 0.5rem;
    align-content: center;
}

.timer-area {
    text-align: right;
    width: 85%;
    max-width: 830px;
    margin: auto;
    font-size: 1.5rem;
    padding: 1rem;

}

.score-area {
    display: flex;
    justify-content: space-between;
    width: 85%;
    max-width: 830px;
    margin: auto;
    font-size: 1.5rem;
}


#correct, #modal-correct {
    color: green;
    font-weight: bold;

}

#incorrect, #modal-incorrect {
    color: red;
    font-weight: bold;
}

.scores {
    margin: 0;
    padding: 1rem;
    
}

.button-container {
    display: flex;
    align-content: center;
    justify-content: space-between;
    width: 85%;
    max-width: 830px;
    margin: auto;
}

.btn {
    display: inline-block;
    padding: 0.5em 1.7em;
    margin: 1em 0.1em 0.1em 0;
    border: 0.16em solid rgb(255, 255, 255);
    border-radius: 2em;
    box-sizing: border-box;
    text-decoration: none;
    font-family: "Roboto", sans-serif;
    font-size: 1rem;
    font-weight: 300;
    color: #ffffff;
    background-color: #445361;
    text-shadow: 0 0.04em 0.04em rgba(255, 255, 255, 0.253);
    text-align: center;
    transition: all 0.2s;
    width: 10rem;
    height: 3rem;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 25px 50px -12px;
  }
  
.active {
    color: rgb(255, 255, 255);
    background-color: rgb(26, 140, 148);
    box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
}

.btn:hover {
    color: #242c33;
    background-color:  #88c7cc;
    font-weight: 300;
    box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
}

.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
    
}

/* Modal Content */
.score-modal-content {
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: none;
    background-color: #ffffff;
    box-sizing: border-box;
    border-radius: 2em;
    width: 85%;
    height: 65vh;
    max-height: 450px;
    max-width: 450px;
    margin-left: auto;
    margin-right: auto;
    padding: 2rem;
}

.modal-btn {
    display: inline-block;
    padding: 0.5em 1.7em;
    margin: auto;
    border: 0.16em solid rgb(255, 255, 255);
    border-radius: 2em;
    box-sizing: border-box;
    text-decoration: none;
    font-family: "Roboto", sans-serif;
    font-size: 1rem;
    font-weight: 300;
    color: #ffffff;
    background-color: #445361;
    text-shadow: 0 0.04em 0.04em rgba(255, 255, 255, 0.253);
    text-align: center;
    transition: all 0.2s;
    width: fit-content;
    height: fit-content;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 25px 50px -12px;
  }

.modal-btn:hover {
    color: #242c33;
    background-color:  #88c7cc;
    font-weight: 300;
    box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
}

.hidden {
    display: none;
}

#modal-scores div {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.modal-scores {
    font-size: 1.5rem;
    padding: 1rem;
    margin: auto;
}
  
/* The Close Button */
.close {
    position: relative;
    right: -103%;
    top: -43%;
    color: #aaaaaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
    width: 2rem;
    height: 2rem;
    border: 5px solid #aaaaaa;
    background-color: #ffffff;
    border-radius: 50%;
}
  
.close:hover,
.close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}
