/* --------- Global style */

body {
    background-color: white;
    font-family: "Raleway", sans-serif;
    color: #445361;
    text-align: center;
}

/* --------- Heading */

.heading {
    text-align: center;
    font-size: 2.5rem;
}

.logo {
    width: 55%;
    margin: auto;
}

/* --------- Game layout */

.game-area {
    display: flex;
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;
    gap: none;
    background-color: #ffffff;
    box-sizing: border-box;
    border-radius: 2em;
    border: #445361 solid 0.2rem;
    width: 85%;
    height: 65vh;
    max-height: 450px;
    max-width: 830px;
    margin-left: auto;
    margin-right: auto;
    padding: 2rem;
}

.characters {
    width: 3rem;
    height: 4rem;
    margin: 0.5rem 0.5rem;
    font-size: 2rem;
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(56, 56, 56);
    border-bottom: 0.15rem solid rgb(148, 148, 148);
    border-radius: 0.5rem;
    align-content: center;
}

.score-area {
    display: flex;
    justify-content: space-between;
    width: 85%;
    max-width: 830px;
    margin: auto;
    font-size: 1.5rem;
}


#correct {
    color: green;
    font-weight: bold;

}

#incorrect {
    color: red;
    font-weight: bold;
}

.scores {
    margin: 0;
    padding: 1rem;
    
}

.button-container {
    display: flex;
    align-content: center;
    justify-content: space-between;
    width: 85%;
    max-width: 830px;
    margin: auto;
}

.btn {
    display: inline-block;
    padding: 0.5em 1.7em;
    margin: 1em 0.1em 0.1em 0;
    border: 0.16em solid rgb(255, 255, 255);
    border-radius: 2em;
    box-sizing: border-box;
    text-decoration: none;
    font-family: "Roboto", sans-serif;
    font-size: 1rem;
    font-weight: 300;
    color: #ffffff;
    background-color: #445361;
    text-shadow: 0 0.04em 0.04em rgba(255, 255, 255, 0.253);
    text-align: center;
    transition: all 0.2s;
    width: 10rem;
    height: 3rem;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 25px 50px -12px;
  }
  
.active {
    color: rgb(255, 255, 255);
    background-color: rgb(26, 140, 148);
    box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
}

.btn:hover {
    color: #242c33;
    background-color:  #88c7cc;
    font-weight: 300;
    box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
}
